div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #efefef;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 20px 5%;
}

.education-entry p,
.work-entry p,
.project-entry p {
  margin-top: 5px;
}

.education-entry h4 a {
  margin-top: 0px;
}

.project-entry img {
  border: 1px solid #ccc;
  margin-top: 20px;
}

h1 {
  font-size: 40px;
  color: #fff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #f68323;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 18px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 20px;
  margin-bottom: 5px;
}

h2,
h3 {
  padding:10px 5%;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px solid #efefef;
}

.title {
  font-size: 20px;
  padding-left: 20px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  /*float: left;*/
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 14px;
  color: #a7a9ac;
  line-height: 20px;
}

#skills-h3 {
  color: #f68323;
  display: none;
  padding-left: 0px;
}

.orange {
  background-color: #000;
}

.orange-text {
  color: #f68323;
}

.orange-text a {
  color: #f68323;
  margin-top: 0px;
  display: block;
  padding: 20px 0;
}

.orange-text a:hover {
  background-color: #000;
  text-decoration: none;
}

.white-text {
  /*font-weight: bold;*/
  color: #fff;
}

.grey-text {
  color: #b9bfc9;
}

.white {
  background-color: #fff;
  padding: 20px 0;
  margin-top: 2px;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #231f20;
}

.black {
  background-color: #000;
}

/* TODO: Replace with image later */
#header {
  background-color: #231f20;
}

#header hr {
  border-top: 0px;
  border-bottom: 1px solid #4c4c4c;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  padding: 10px 0;
}

.flex-item {
  margin-right: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 0;
}

.flex-column .flex-item {
  font-size: 12px;
  line-height: 22px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: right;
  padding: 10px;
  width: 100px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 2px;
}

#lets-connect {
  text-align: center;
  color: #fff;
}

#lets-connect h2 {
  padding: 0px;
}

#footerContacts {
  justify-content: space-around;
}

/* Media queries to handle various device widths */

/*@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}
*/
@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #skills-h3 {
    display: inline;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 10%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* Return to the top button*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    z-index: 999;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

